.container {
    max-width: 800px;
    margin: 4em auto;
    padding: 0 20px;
}
  
.container > * {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 16px;
}